misc/
BirdAudio/
BirdPhotos/


# Operating System Files
.DS_Store # Mac OS
Thumbs.db # Windows
ehthumbs.db # Windows
.desktop.ini # Windows

# Editor/IDE Files
.vscode/ # Visual Studio Code
.idea/ # WebStorm/IntelliJ
*.iml # WebStorm/IntelliJ
.sublime-project
.sublime-workspace

# Build artifacts (if you use a build process)
/dist/
/build/
/output/

# Dependencies
/node_modules/ # JavaScript dependencies installed via npm

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
